{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      0
    ],
    "react/jsx-props-no-spreading": [
      0
    ],
    "react/prop-types": [
      0
    ],
    "no-shadow": [
      0
    ],
    "no-underscore-dangle": [
      0
    ],
    "no-array-index-key": [
      0
    ],
    "no-param-reassign": [
      0
    ],
    "jsx-a11y/label-has-associated-control": [
      0
    ],
    "jsx-a11y/no-noninteractive-element-interactions": [
      0
    ],
    "jsx-a11y/click-events-have-key-events": [
      0
    ]
  }
}
